@import './variables';

@mixin setTextAlign($alignment) {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

@mixin setTextColor($color, $colorName) {
  .text-#{$colorName} {
    color: $color;
  }
}

@mixin setTextSize($size, $sizeName) {
  .text-#{$sizeName} {
    font-size: $size;
  }
}

@include setTextAlign(left);
@include setTextAlign(center);
@include setTextAlign(right);

@include setTextColor($primary, primary);
@include setTextColor($info, info);
@include setTextColor($success, success);
@include setTextColor($danger, danger);
@include setTextColor($warning, warning);

@include setTextSize($text-xs-size, extra-small);
@include setTextSize($text-sm-size, small);
@include setTextSize($text-md-size, medium);
@include setTextSize($text-lg-size, large);
@include setTextSize($text-xl-size, extra-large);

$header-sizes: $header-1-size $header-2-size $header-3-size $header-4-size $header-5-size $header-6-size;

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-weight: bold;
  margin: 0.75em 0 0.25em;
}

@for $header from 1 through 6 {
  h#{$header},
  .header-#{$header} {
    font-size: nth($header-sizes, $header);
  }
}

strong,
b,
.text-bold {
  font-weight: bold;
}

em,
i,
.text-italic {
  font-style: italic;
}
