$white: #fff;
$black: #000;

$gray-extra-dark: #1f1f1f;
$gray-dark: #5d5d5d;
$gray-medium: #a0a0a0;
$gray-light: #d5d5d5;
$gray-extra-light: #f1f1f1;

$primary: #1560BD;
$info: #0087BD;
$danger: #ED2939;
$success: #009150;
$warning: #fff44f;

$gutter-large: 15px;
$gutter-medium: 10px;
$gutter-small: 5px;

$border-radius: 3px;

$sizes: 0 768 1024 1200 1600;
$sizeNames: xs sm md lg xl;
